.container {
	max-width: 1154px;
	width: 100%;
	margin: 0 auto;
}

.header {
	background-color: #000;
	color: #fff;
	height: 100px;
	position: relative;

	&__logo {
		position: absolute;
		top: 10px;
		left: 15px;

		&-link {
			text-decoration: none;
			color: #fff;
			font-size: 24px;
			font-family: 'Montserrat', Arial, Helvetica, sans-serif;
			font-weight: bold;
			letter-spacing: 0px;
		}
	}

	&__title {
		text-align: center;
		padding-top: 50px;
		font-weight: normal;
		font-size: 24px;
	}
}

// intro
//=====================

.intro__inner {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #212121;
}

.intro__text {
	margin: 25px 10px;

	&-donat {
		font-family: Arial, Helvetica, sans-serif;
		margin: 0 10px 15px;
	}

	&-subdonat {
		font-style: italic;
		margin-bottom: 25px;
	}
}

.intro__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;

	&-link {
		color: #fff;
		background-color: #000;
		padding: 10px 10px;
		min-width: 166px;
		margin-right: 20px;
		text-decoration: none;
		font-family: "Open Sans", sans-serif;
		line-height: 22px;
		border: 2px solid #000;
		position: relative;

	}

	&-link:last-child {
		margin-right: 0;
	}

	&-link:hover {
		background-color: rgb(245, 191, 175);
		border-color: transparent;
		color: #444;
		transition: .2s linear;
	}
}

.card__num {
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		font-weight: bold;
	}
}

// video-block (new)
//======================
.video-block__inner {
	margin: 0 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.video-block__item-title {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	color: rgba(255, 255, 255, 0.945);
	font-size: 1rem;
}

.video-block__item {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000;

	&:last-child {
		margin-bottom: 20px;
	}

	&-media {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}

	&-button {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0;
		width: 68px;
		height: 48px;
		border: none;
		background-color: transparent;
		transform: translate(-50%, -50%);
		outline: none;
		cursor: pointer;
	}
}

.video-block__item--enabled {
	cursor: pointer;
}

.video-block__item--enabled .video-block__item-button {
	display: block;
}

.item-button__shape {
	fill: #212121;
	fill-opacity: 0.8;
}

.video-block__item:hover .item-button__shape,
.video-block__item-button:focus .item-button__shape {
	fill: #ff0000;
	fill-opacity: 1;
	transition: .2s;
}

.item-button__icon {
	fill: #fff;
}

// footer
//==================
.footer {
	height: 80px;
	display: flex;
	align-items: center;
	background-color: rgb(216, 216, 216);

}

.footer__text {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

@media(max-width: 910px) {
	.intro__nav {
		flex-wrap: wrap;

		&-link {
			width: 30%;

			&:nth-child(2) {
				margin-right: 0;
			}

			&:nth-child(1n+3) {
				margin-top: 10px;
			}
		}

	}
}

@media(max-width: 800px) {
	.header {
		padding-bottom: 20px;
	}

	.header__title {
		display: flex;
		flex-direction: column;

		&-blue {
			color: #4287f5
		}

		&-yellow {
			color: #e6dc2e;
			margin-top: 10px;
		}
	}

	.video-block__inner {
		grid-template-columns: 1fr;
	}

	.video-block__item-title {
		font-size: 1.4rem;
	}
}

@media(max-width: 425px) {
	.intro__nav {
		flex-wrap: wrap;

		&-link {
			width: 80%;
			margin-top: 10px;
			margin-right: 0px;
		}
	}

	.header {
		padding-bottom: 10px;

		&__title {
			font-size: 1.2rem;
		}
	}

	.video-block__item-title {
		font-size: 1rem;
	}

}